.careers-form-section {
    width: 100%;
    padding: 48px 64px 100px;
    display: flex;
    justify-content: center;
    gap: 160px;
    background: #F1F9FF;
    position: relative;
}

.form-overlay {
    position: absolute;
    width: 1013.85px;
    height: 1007.13px;
    left: 638.87px;
    top: -162.1px;
}